@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
  background-color: #646464 !important;
  caret-color: white;
  transition: background-color 5000s ease-in-out 0s;
  /* box-shadow: 0 0 0px 1000px white inset !important; */
  /* -webkit-box-shadow: 0 0 0px 1000px white inset !important; */
  -webkit-text-fill-color: white !important;
}

body {
  background-color: #000;
}
